/* home */

@font-face {
	font-family: "Geomanist";
	src: url("../fonts/Geomanist-Regular.otf");
}

* {
	font-family: "Geomanist", sans-serif;
}

.navbar-custom {
	background-color: #8c1e41;
}

.div-escudo {
	width: 10%;
	margin: 0 4px 5px 5px;
}

#logo {
	width: 100%;
}

.fa-solid.fa-user-large {
	font-size: 2em;
}

.nav-link {
	color: #b69664;
}

#sidenavAccordion {
	width: 100%;
}

#sidebarToggle {
	display: none;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
	overflow-y: visible;
}

.div-contenido {
	background-image: url("../img/flor.png");
	background-repeat: no-repeat;
	background-position: 70px top;
	background-size: 20% 85%;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	padding-left: 150px;
	top: 56px;
}

.px-4 {
	padding-right: 3rem !important;
	padding-left: 1rem !important;
}

.menu-custom {
	width: 40%;
	padding-left: 20px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
	width: 100px;
}

.div-home {
	margin-top: 10px;
	margin-bottom: 10px;
}

.icon-home,
.icon-balanced,
.icon-user,
.icon-gear,
.icon-info {
	color: rgb(8, 8, 8);
	font-size: 20px; /* Ajusta el tamaño del icono aquí */
	margin: 15px 0 10px 0;
}

.titulo-menu {
	text-align: center;
	font-size: 30px;
	margin-bottom: 5%;
}

.card-regulacion {
	border: solid;
}

.card-oficina {
	border: solid;
}

.div-usuarios {
	margin-top: 15px;
}

.btn-primary {
	--bs-btn-border-color: initial;
	--bs-btn-hover-bg: initial;
	--bs-btn-active-bg: #7f2841;
	background-color: #923244;
}

.btn-regulacion {
	text-transform: uppercase;
}

.btn-oficina {
	text-transform: uppercase;
}

.btn-guardar {
	background-color: #923244;
	--bs-btn-active-bg: #7f2841;
	--bs-btn-active-color: white;
	color: white;
	margin-right: 20px;
}

.btn-agregarUsuario,
.btn-agregarOficina {
    --bs-btn-hover-bg: #7f2841;
}

.btn-regulacion:hover,
.btn-oficina:hover,
.btn-agregarUsuario:hover
.btn-agregarOficina:hover,
.btn-guardar:hover {
	background-color: #7f2841;
	color: white;
}

/* sujeto - oficinas */

/* Aplicar espaciado entre las celdas */
#datatablesSimple td,
#datatablesSimple th {
	padding: 8px;
}

/* Agregar margen alrededor de la tabla */
#datatablesSimple {
	margin-bottom: 20px;
}

.tTabla-color {
	background-color: #923244;
	color: white;
}

.div-info {
	text-align: center;
	margin: 0 40px 0 10px;
}

.card-header {
	background-color: #7f2841;
}

@media screen and (max-width: 990px) {
	.div-escudo {
		display: none;
	}

	.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
		padding-left: 225px;
		top: 56px;
	}

	#sidebarToggle {
		display: block;
	}

	.div-info {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.div-card {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}
