/* home */

@font-face {
	font-family: "Geomanist";
	src: url("../fonts/Geomanist-Regular.otf");
}

* {
	font-family: "Geomanist", sans-serif;
}

.loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.8);
}

.loader.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
.h1 {
	font-weight: 600;
}

h3,
.h3 {
	font-weight: 500;
	font-size: 24px;
}

.sb-topnav {
	height: 5rem;
}

.navbar-custom {
	background-color: #612233;
}

.navbar-nav {
	padding-right: 2rem;
}

.div-escudo {
	width: 11%;
	padding: 10px 0 10px 0;
}

#logo {
	width: 100%;
	margin: 0 4px 5px 2rem;
}

.fa-solid.fa-user-large {
	font-size: 2em;
}

.nav-link {
	color: #b69664;
}

.temporizador {
	color: #ffffff;
	padding: 7px 10px 0 0;
}

.user {
	color: #ffffff;
	padding: 6px 0px 0 10px;
	text-decoration: underline;
}

#sidenavAccordion {
	width: 100%;
	background-color: #b69664;
	margin-top: 3rem;
}

#sidebarToggle {
	display: none;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
	overflow-y: visible;
}

.div-img {
	position: relative;
	height: 100vh;
}

.div-img::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.25;
	z-index: -1;
	filter: grayscale(50%);
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	padding-left: 7rem;
	top: 56px;
}

.px-4 {
	padding-right: 3rem !important;
	padding-left: 1rem !important;
}

.menu-custom {
	width: 40%;
	padding-left: 1.7rem;
}

.menu-regulacion{
	font-size:medium;
}

.lista-regulacion
{
	padding: 2rem 0 0 0;
}

.iconos-regulacion
{
	padding: 0.5rem 0 ;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
	width: 112px;
}

.div-home {
	margin-top: 10px;
	margin-bottom: 10px;
}

.icon-home,
.icon-balanced,
.icon-user,
.icon-gear,
.icon-info {
	color: rgb(8, 8, 8);
	font-size: 20px;
	margin: 15px 0 10px 0;
}

.icon-emergency {
	color: #923244;
	font-size: 20px; 
	margin: 15px 0 10px 0;
}

.titulo-menu {
	text-align: center;
	font-size: 30px;
	margin-bottom: 5%;
	padding-top: 3rem;
}

.text-cards {
	color: #ffffff;
}

.row.no-padding > * {
	padding-left: 0px;
	padding-right: 0px;
}

.card-regulacion {
	border: solid;
}

.card {
	--bs-card-border-color: rgb(0 0 0);
}

.bordes{
	--bs-card-border-color:rgb(209, 209, 209);;
}

.card-oficina {
	border: solid;
}

.div-card {
	margin: auto;
	text-align: center;
}

.footer {
	background-color: #ffffff;
	margin: 0 3rem 0 3rem;
}

.btn-primary {
	--bs-btn-border-color: initial;
	--bs-btn-hover-bg: initial;
	--bs-btn-active-bg: #7f2841;
	background-color: #7f2841;
}

.btn-guardar {
	background-color: #923244;
	--bs-btn-active-bg: #7f2841;
	--bs-btn-active-color: white;
	color: white;
	margin-right: 20px;
}

.btn-danger {
	background-color: #923244;
	--bs-btn-active-bg: #7f2841;
	--bs-btn-active-color: white;
	color: white;
}

.btn-dorado {
	background-color: #b69664;
	--bs-btn-active-bg: rgb(216, 177, 111);
	--bs-btn-active-color: white;
	color: white;
}

.btn-dorado:hover {
	background-color: #d8b16f;
	color: white;
}

.btn-tinto,
.btn-indice {
	background-color: #7f2841;
	--bs-btn-active-bg: #923244;
	--bs-btn-active-color: white;
	color: white;
}

.btn-tinto:hover,
.btn-indice:hover {
	background-color: #923244;
	color: white;
}

.btn-gris{
	background-color: #4b4f54;
	--bs-btn-active-bg: #61666c;
	--bs-btn-active-color: white;
	color: white;
}

.btn-gris:hover{
	background-color: #61666c;
	color: white;
}

.btn-tinto2{
	background-color: #612233;
	--bs-btn-active-bg: #923244;
	--bs-btn-active-color: white;
	color: white;
}

.btn-tinto2:hover{
	background-color: #923244;
	color: white;
}

.btn-agregarGrupo {
	--bs-btn-hover-bg: #7f2841;
	margin-right: 20px;
}

.btn-agregar {
	--bs-btn-hover-bg: #7f2841;
	margin-right: 5px;
}

.btn-agregarUsuario,
.btn-agregarOficina {
	--bs-btn-hover-bg: #7f2841;
	margin-right: 46px;
}

.btn-regulacion:hover,
.btn-oficina:hover,
.btn-agregarUsuario:hover .btn-agregarOficina:hover,
.btn-guardar:hover,
.btn-danger:hover {
	background-color: #7f2841;
	color: white;
}

/*
.btn-comentarios{
	background-color: #5F9EA0;
	--bs-btn-active-bg: #3389a5;
	--bs-btn-active-color: white;
	color: white;
}

.btn-comentarios:hover{
	background-color: #3389a5;
	color: white;
}
*/

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
	background-color: #923244 !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
	background-color: #6c757d !important;
}

.div-datatables {
	margin: 0 3rem;
}

/*
#datatablesSimple td,
#datatablesSimple th {
	padding: 8px;
}
*/

/*Estilos para la tabla de comentarios*/
.table td {
    max-width: 140px; 
	word-wrap: break-word; 
}

.table th {
    white-space: nowrap;
}
/*---------------------------------------*/

#datatablesSimple {
	margin-bottom: 20px;
}

.tTabla-color {
	background-color: #7f2841;
	color: white;
}

.dataTables_wrapper .dataTables_filter input {
	border: 1px solid #612233;
	padding: 0%;
}

.dataTables_wrapper .dataTables_length select {
	border: 1px solid #612233;
	padding: 0%;
	margin-bottom: 5px;
	font-size: small;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0.1em 0.5em;
	font-size: small;
}

.dataTables_wrapper .dataTables_info {
	padding-top: 0.4em;
	font-size: smaller;
}

.div-info {
	text-align: center;
	font-size: smaller;
}

.text-muted {
	font-size: smaller;
}

#sectorResults {
	list-style-type: none;
	padding: 0;
}
#sectorResults li {
	cursor: pointer;
	padding: 5px;
	border: 1px solid #ccc;
	margin-top: -1px; /* Evita el doble borde */
	background-color: #f6f6f6;
}
#sectorResults li:hover {
	background-color: #ddd;
}

.card-header {
	background-color: #7f2841;
}

.status-circle {
	display: inline-block;
	padding: 10px;
	border-radius: 50%;
	color: white;
	text-align: center;
	width: 45px;
	height: 45px;
	line-height: 25px;
}

.notificacion-no-leida {
	color: black;
	font-weight: bold;
}

.notificacion-leida {
	color: gray;
}

.badge-danger {
	background-color: #b69664;
	color: white;
	border-radius: 50%;
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
	transform: translate(22%, -95%); /* Ajuste para centrar en la esquina */
}


/*-------------- Timeline de las regulaciones---------------- */
.timeline {
	list-style-type: none;
	position: relative;
}

.timeline-item {
	margin: 20px 0;
	padding-left: 40px;
	position: relative;
}

.timeline-item:before {
	content: "";
	background: #007bff;
	display: inline-block;
	position: absolute;
	left: 10px;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	z-index: 400;
}

.timeline-date {
	font-weight: bold;
	color: #007bff;
}

.timeline-content {
	border-left: 2px solid #007bff;
	padding-left: 10px;
}

.breadcrumb
{
	margin-left: 3em;
}
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 990px) {
	.div-escudo {
		display: none;
	}

	.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
		padding-left: 225px;
		top: 56px;
	}

	#sidebarToggle {
		display: block;
	}

	.div-info {
		display: none;
	}

	.btn-ocultar {
		margin-top: 3px;
	}
}

@media screen and (min-width: 1000px) {
	.div-card {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}