@font-face {
	font-family: "Geomanist";
	src: url("../fonts/Geomanist-Regular.otf");
}

* {
	font-family: "Geomanist", sans-serif;
}


h1,
.h1 {
	font-weight: 600;
}

h1, h2 {
    font-weight: bold;
}

h3,
.h3 {
	font-weight: 500;
	font-size: 24px;
}

h7,
.h7 {
	font-weight: 500 !important;
}

div#navbarNavDropdown a {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

a.cursor.denuncia-menu.nav-link {
    background: #979a9a;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.navbarGob {
	background-color: #8c1e41;
}

.card-header {
    background-color: #7f2841;
}

.text-cards {
    color: #ffffff;
}

.row.no-padding > * {
    padding-left: 0px;
    padding-right: 0px;
}

.div-card {
    margin: 0 1rem 0 1rem;
}

.card {
    --bs-card-border-color: rgb(0 0 0);
}

.fa-solid.fa-user-large {
	font-size: 2em;
}

.nav-link {
	color: #b69664;
}

#sidenavAccordion {
	width: 50%;
	background-color:#b69664 ;
	border-top-right-radius: 10px; /* Ajusta el radio del borde superior derecho */
	border-bottom-right-radius: 10px; /* Ajusta el radio del borde inferior derecho */
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
	overflow-y: visible;
}

.sb-nav-fixed #layoutSidenav {
	display: flex;
	min-height: 100vh; /* Asegura que el contenedor principal sea al menos tan alto como la ventana del navegador */
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	flex: 1;
	
	padding-left: 150px;
	top: 56px;
}

.menu-custom {
	width: 40%;
	padding-left: 20px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
	width: 100px;
	padding-bottom: 11rem;
	z-index: 2;
}
#layoutSidenav_nav {
	margin-top: 105px; /* Ajusta este valor según necesites para mover el menú hacia abajo */
	border-top-right-radius: 10px; /* Ajusta el radio del borde superior derecho */
	border-bottom-right-radius: 10px; /* Ajusta el radio del borde inferior derecho */
}

.div-home {
	margin-top: 10px;
	margin-bottom: 10px;
}

.fa-person-shelter,
.fa-file-contract,
.fa-person-circle-exclamation,
.fa-circle-exclamation,
.fa-landmark,
.fa-universal-access {
	color: rgb(8, 8, 8);
	font-size: 30px; /* Ajusta el tamaño del icono aquí */
	margin: 15px 0 10px 0;
}

/* sujeto - oficinas */

/* Aplicar espaciado entre las celdas */
#datatablesSimple td,
#datatablesSimple th {
	padding: 8px;
}

/* Agregar margen alrededor de la tabla */
#datatablesSimple {
	margin-bottom: 20px;
}

.tTabla-color {
	background-color: #923244;
	color: white;
}

.div-info {
	text-align: center;
	margin: 0 40px 0 10px;
}

#accessibilityMenu {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #f8f9fa;
	z-index: 1000;
	padding: 10px 0;
}

#accessibilityMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#accessibilityMenu li {
	float: left;
}

#accessibilityMenu li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#buscadorContainer {
	margin-top: 20px; /* Ajusta este valor según tus necesidades */
}

#buscador {
	display: inline-block;
	width: 50%; /* Ajusta este valor según tus necesidades */
}

#tituloBuscador {
	margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
	margin-left: 50px; /* Ajusta este valor según tus necesidades */
}

.input-group .form-control {
    position: absolute;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

#nombreRegulacion {
	margin-left: 20rem;
	width: 60%;
}

#texto {
	margin-left: 10rem;
}

#buttonContainer {
	margin-top: -2rem;
    margin-left: 77rem;
}

#btn-search {
	background-color: #7F2841;
	border-color: #B69664;
}

#btn-search:focus {
	border-color: #B39362; /* Cambia esto a tu color de contorno preferido */
}

#txtBusqueda {
	margin-top: 1rem;
	margin-left: 34.4rem;
}

#advancedSearch {
    background-color: transparent;
    border: none;
    color: #000000; /* Cambia esto al color que quieras para el icono */
}

#advancedSearchOptions {
	display: flex !important;
	justify-content: center !important;
	margin-left: 20rem;
}

#regdisp {
	margin-left: 20rem;
}
#cardsReg {
	margin-left: 9rem;
	position: relative;
	z-index: 3;
}
#additionalCards {
	padding-top: 1rem;
	position: relative;
	z-index: 2;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
}

  footer .footer-backgroundcolor-pu {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #f6f6f6;
}

footer .footer-back-dark {
    background-color: #4b4f54;
}

.footer-social-separador-pu {
    margin-top: 5%;
}

.footer-texto-pu {
    padding-top: 5px;
}

.footer-link-left {
    padding-bottom: 20px;
}

.footer-youtube {
    color: #801419;
}

footer .footer-icon-separador-pu {
    padding-left: 60px;
}

.footer-facebook {
    color: #3b5998;
}

.btn-dorado{
	background-color: #b69664;
	--bs-btn-active-bg: rgb(216, 177, 111);
	--bs-btn-active-color: white;
	color: white;
}

.btn-dorado:hover{
	background-color: #d8b16f;
	color: white;
}
