@font-face {
	font-family: "Geomanist";
	src: url("../fonts/Geomanist-Regular.otf");
}

* {
	font-family: "Geomanist", sans-serif;
}


h1,
.h1 {
	font-weight: 600;
}

h1,
h2 {
	font-weight: bold;
}

h3,
.h3 {
	font-weight: 500;
	font-size: 24px;
}

h7,
.h7 {
	font-weight: 500 !important;
}

div#navbarNavDropdown a {
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
}

a.cursor.denuncia-menu.nav-link {
	background: #979a9a;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
}

.navbarGob {
	background-color: #612233;
}

.div-escudo {
	width: 11%;
	padding: 10px 0 10px 0;
	margin-right: 3rem;
}

#logo {
	width: 100%;
	margin: 0 4px 5px 2rem;
}
.card-header {
	background-color: #7f2841;
	min-height: 75px;
	max-height: 75px; /* Fija la altura máxima para el header */
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden; /* Oculta el texto que excede */
	text-overflow: ellipsis; /* Añade puntos suspensivos */
}

.card-header h7 {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.text-cards {
	color: #ffffff;
}

.row.no-padding > * {
	padding-left: 0px;
	padding-right: 0px;
}

.div-card {
	margin: 0 1rem 0 1rem;
}

.card {
	--bs-card-border-color: rgb(0 0 0);
}

.fa-solid.fa-user-large {
	font-size: 2em;
}

.nav-link {
	color: #b69664;
}

.div-navbar {
	margin-left: 9rem;
}

#sidenavAccordion {
	width: 83%;
	background-color: #b69664;
}

#layoutSidenav #layoutSidenav_nav {
	flex-basis: 132px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
	overflow-y: visible;
}

.sb-nav-fixed #layoutSidenav {
	display: flex;
	min-height: 100vh; /* Asegura que el contenedor principal sea al menos tan alto como la ventana del navegador */
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	flex: 1;
	padding-left: 150px;
	top: 56px;
}

.menu-custom {
	width: 40%;
	padding-left: 20px;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
	width: 100px;
	padding-bottom: 11rem;
	z-index: 2;
}

#layoutSidenav_nav {
	margin-top: 0rem; /* Ajusta este valor según necesites para mover el menú hacia abajo */
	border-top-right-radius: 10px; /* Ajusta el radio del borde superior derecho */
	border-bottom-right-radius: 10px; /* Ajusta el radio del borde inferior derecho */
}

#layoutSidenav #layoutSidenav_content {
	margin: 0 0rem 0 -10rem;
}

.fa-person-shelter,
.fa-file-contract,
.fa-person-circle-exclamation,
.fa-circle-exclamation,
.fa-landmark
{
	color: rgb(8, 8, 8);
	font-size: 30px; /* Ajusta el tamaño del icono aquí */
	margin: 15px 0 10px 10px;
}

.fa-universal-access {
	color: rgba(6, 172, 222, 0.887);
	font-size: 30px; /* Ajusta el tamaño del icono aquí */
	padding: 0px 0px 0px 0px;
}


#accessibilityMenu {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #f8f9fa;
	z-index: 1000;
	padding: 10px 0;
}

#accessibilityMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#accessibilityMenu li {
	float: left;
}

#accessibilityMenu li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#buscadorContainer {
	margin-top: 20px; /* Ajusta este valor según tus necesidades */
}



#tituloBuscador {
	margin: 0px 0 30px 0; /* Ajusta este valor según tus necesidades */
	margin-left: 50px; /* Ajusta este valor según tus necesidades */
}

/*
.input-group .form-control {
	position: absolute;
	z-index: 2;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
*/


#texto {
	margin-left: 10rem;
}

#buttonContainer {
	margin-top: -2rem;
	margin-left: 77rem;
}

#btn-search:focus {
	border-color: #b39362; /* Cambia esto a tu color de contorno preferido */
}

#advancedSearch {
	background-color: transparent;
	border: none;
	color: #7f2841; 
	padding: 0%;
	margin-left: 5px;
}

#advancedSearchOptions {
	display: flex !important;
	justify-content: center !important;
	margin-left: 20rem;
}

.mb-3 {
	margin-bottom: 3rem !important;
}

/*
#cardsReg {
	margin: 0rem 6rem 0 12rem;
	position: relative;
	z-index: 3;
}
*/

#additionalCards {
	padding-top: 1rem;
	position: relative;
	z-index: 2;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	/*height: 150px;*/
	background-color: #ffffff;
}

footer .footer-backgroundcolor-pu {
	padding-right: 0px;
	padding-left: 0px;
	background-color: #ffffff;
}

.footer-social-separador-pu {
	margin-top: 5%;
}

.footer-texto-pu {
	padding-top: 5px;
	font-size: small;
}

.footer-link-left {
	padding-bottom: 20px;
	font-size: small;
}

.footer-youtube {
	color: #801419;
}

footer .footer-icon-separador-pu {
	padding-left: 60px;
}

.footer-facebook {
	color: #3b5998;
}

.btn-dorado {
	background-color: #b69664;
	--bs-btn-active-bg: rgb(216, 177, 111);
	--bs-btn-active-color: white;
	color: white;
}

.btn-dorado:hover {
	background-color: #d8b16f;
	color: white;
}

.mb-3 {
	margin-bottom: 3rem !important;
}

.div-card {
	height: 350px;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.card-text {
	flex-grow: 1; /* Permite que el texto crezca para ocupar el espacio disponible */
	overflow: hidden; /* Evita que el contenido exceda los límites del card */
	text-overflow: ellipsis; /* Agrega puntos suspensivos si el contenido es muy largo */
}

/* Estilos para el menú de accesibilidad */
.sb-sidenav-menu .nav-link {
	display: flex;
	flex-direction: column; /* Alinea el icono y el texto en columna */
	align-items: center; /* Centra el contenido horizontalmente */
	padding: 10px 15px 0 30px;
	color: #fff;
	text-align: center; /* Centra el texto */
}

.sb-sidenav-menu .sb-nav-link-icon {
	margin-bottom: 5px; /* Espacio entre el icono y el texto */
	display: block;
}

.sb-sidenav-menu .nav-text {
	white-space: normal; /* Permite que el texto se divida en varias líneas */
	font-size: 0.75rem; 
	color: black;
}

.sb-sidenav-menu .nav-link i {
	font-size: 1.5rem; /* Ajusta el tamaño del icono */
	display: block;
}

/* Estilos personalizados */
#option1,
#option2,
#option3,
#option4 {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: 1px solid #b69664;
	border-radius: 5px;
	color: #b69664;
}

.input-buscador{
	border: 1px solid #666564;
}

#buscarBtn {
	background-color: #7f2841;
	color: white;
	padding: 0.5rem 1rem;
	width: 31%;
	margin: 30px 0 0 0;
}

#buscarBtn:hover {
	background-color: #923244;
	cursor: pointer;
}

.loginCiudadania {
	color: #ffffff;
}

/*Estilos del buscador*/

.flecha:hover {
	cursor: pointer;
	color:#923244;
	transform: translateY(-3px);
}

/*
#buscador {
	width: 48%; 
}

*/

#regdisp {
	padding-right: 1rem;
}


.txtBusqueda {
	margin-bottom: 0rem;
}



#btn-search {
	background-color: #7f2841;
	border-color: #b69664;
}

#btnRegresar {
	background-color: #7f2841;
	border-color: #b69664;
	color: #ffffff;
	margin:0 10rem;
}


/*
#nombreRegulacion {
	border: 1px solid;
	margin:0 10rem;
	width: 60%;
}
*/

/*-------------------*/


@media (min-width: 768px) {
	#option1,
	#option2,
	#option3,
	#buscarBtn {
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 1100px) {
	.div-escudo {
		display: none;
	}
}

@media screen and (min-width: 1444px) and (max-width: 1600px){
	.div-buscador {
		margin: 0 6rem;
		padding: 4rem 4rem 0 9rem;
	}
}

/* Pantallas medianas (1024px a 1444px) */
@media screen and (min-width: 1024px) and (max-width: 1444px) {
    .div-buscador {
        padding: 4rem 2rem 0 9rem;
    }
}

/* Pantallas pequeñas (768px a 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .div-buscador {
        margin: 0 3rem;
        padding: 4rem 2rem 0 9rem;
    }
}

/* Pantallas muy pequeñas (menos de 768px) */
@media screen and (max-width: 767px) {
    .div-buscador {
        padding: 4rem 2rem 0 2rem;
    }
}