@font-face {
	font-family: "Geomanist";
	src: url("../fonts/Geomanist-Regular.otf");
}

* {
	font-family: "Geomanist", sans-serif !important;
}

.card-header {
	background-color: #7f2841;
}

.titulo-login{
	text-align: center;
	color: #ffffff;
}

.btn-primary {
	--bs-btn-border-color: initial;
	--bs-btn-hover-bg: #7f2841;
	--bs-btn-active-bg: #7f2841;
	background-color: #923244;
}
