#regis{
    color: #2e75bc;
}
#forgot{
    color: #2e75bc;
}

.btn-primary {
    background-color: gold; /* Cambia el color de fondo del botón a dorado */
}

.div-escudo {
	width: 10%;
    margin: 0 4px 5px 5px;
}

#logo {
	width: 74%;
    margin: 0 4px 5px 5px;
}

.div-contenido{
    background-image: url('../img/flor.png');
    background-repeat: no-repeat;
    background-position: 70px top;
}