@font-face {
    font-family: "Geomanist";
    src: url("../fonts/Geomanist-Regular.otf");
}

* {
    font-family: "Geomanist", sans-serif !important;
}

h1,
.h1 {
	font-weight: 600 !important;
    font-size: 28px !important;
}

.h2, h2 {
    font-size: 20px !important;
}

h3,
.h3 {
	font-weight: 500;
	font-size: 20px;
}

h1, h2 {
    margin-top: 20px !important; 
}

.header {
    text-align: center;
    background-color: #612233;
    color: white;
    padding: 20px;
    position: relative;
}

.header img {
    width: 100px;
}

.subheader {
    background-color: #B69664;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.content {
    padding: 10px;
}

.content p {
    margin: 5px 0;
}

.content .section {
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    margin: auto;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f8f9fa;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.footer a {
    text-decoration: none;
    color: #007bff;
}

.footer a:hover {
    text-decoration: underline;
}


