

body {
    font-family: 'Geomanist', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1,
.h1 {
	font-weight: bold !important;
    font-size: 20px !important;
}

.h2, h2 {
    font-size: 20px !important;
}

h3,
.h3 {
	font-weight: bold;
	font-size: 18px;
    padding: 0.5rem 0 .5rem 1rem;
}


h4 {
    font-weight: bold;
}

.header {
    text-align: center;
    background-color: #612233;
    color: white;
    padding: 1px;
    position: relative;
    
}

.logo-centrado {
    display: block;
    margin: 0 19rem;
    margin-bottom: 5px;
}

.header img {
    width: 100px;
}

.subheader {
    background-color: #B69664;
    color: white;
}

.content p {
    line-height: 0.5;
    padding: 0;
}

.inline-title {
    display: inline;
    font-weight: bold;
}

.inline-content {
    display: inline;
}



